@page "/calendar"
@layout BFL.App.Components.Layout.PaddedLayout

<style>
    .calendar-container {
        overflow-y: auto;
        height: calc(100vh - 120px);
    }

    .month-view {
        margin-bottom: 20px;
    }

    .calendar {
        width: 100%;
        border-collapse: collapse;
    }

        .calendar th, .calendar td {
            padding: 8px;
            text-align: center;
        }

    .blue-circle {
        width: 16px;
        height: 16px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 16px;
    }

</style>

<div class="calendar-container" @ref="calendarContainer" id="calendarContainer">
    <h3>Calendar</h3>
    @foreach (var monthDate in displayedMonths)
    {
        <div class="month-container">
            <h2>@monthDate.ToString("Y")</h2>
            <table class="calendar">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    @RenderMonth(monthDate.Month)
                </tbody>
            </table>
        </div>
    }
</div>