@page "/exercises/{CategoryId:int}"

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (category != null)
    {
        <h2 class="text-center">Exercises in @category.Name</h2>
    }
    else
    {
        <h2 class="text-center">Exercises</h2>
    }
    <div class="container mt-4">
        <div class="row">
            @foreach (var exercise in exercises)
            {
                <div class="col-md-4 mb-3">
                    <NavLink class="btn btn-outline-primary w-100" href="@("/traininglog/" + exercise.Id)">
                        @exercise.Name
                    </NavLink>
                </div>
            }
        </div>
    </div>
}