@page "/calendar"
@using System.Globalization
@using BFN.App.Services
@using BFN.Data.Models
@inject DataService dataService

<h3>Calendar</h3>

<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
    </table>
</div>

@code {
}