@page "/categories"
@using BFN.App.Services
@using BFN.Data.Models

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.db.Table<Category>().ToListAsync();
    }
}
