@page "/categories"
@using BFN.App.Services
@using BFN.Data.Models
@inject DataService dataService

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>
                        <NavLink href="@("/exercises/" + category.Id)">@category.Name</NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await dataService.db.Table<Category>().ToListAsync();
    }
}
