@page "/categories"
@using BFN.App.Services
@using BFN.Data.Models

<h1>Categories</h1>

<p>This component demonstrates showing data.</p>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetAllCategories();
    }
}
