@page "/exercises/{CategoryId:int}"
@using BFN.App.Services
@using BFN.Data.Models
@inject DataService dataService

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var exercise in exercises)
            {
                <tr>
                    <td>
                        <NavLink href="@("/traininglog/" + exercise.Id)">@exercise.Name</NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int CategoryId { get; set; }

    private IEnumerable<Exercise> exercises;

    protected override async Task OnInitializedAsync()
    {
        exercises = await dataService.db.Table<Exercise>().Where(e => e.CategoryId == CategoryId).ToListAsync();
    }
}
